---
layout: default
bodyclass: page-home
---


{% include home-intro.html %}


<div class="section section-gray">
    <div class="section-content">
        <h2 class="section-heading animate fadein editable">Get Print Automation</h2>
        <p class="lead animate fadein editable">Printix eliminates the need for a print server and saves time and money.</p>

		<div class="service-keywords">
			<div class="service-keywords-entry animate fadein-up">
				<svg class="icon-insight"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-insight" /></svg>
				<h3 class="editable">Insight</h3>
				<p class="editable">Proactive insight and advice to reduce print costs and waste.</p>
			</div>
			<div class="service-keywords-entry animate fadein-up">
				<svg class="icon-care"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-care" /></svg>
				<h3 class="editable">Care</h3>
				<p class="editable">Cloud-based print management solution and trusted print adviser to free people for work that only people can do.</p>
			</div>
			<div class="service-keywords-entry animate fadein-up">
				<svg class="icon-cloud"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cloud" /></svg>
				<h3 class="editable">Cloud</h3>
				<p class="editable">Cloud-based print management solution eliminates the need for a print server.</p>
			</div>
			<div class="service-keywords-entry animate fadein-up">
				<svg class="icon-automated"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-automated" /></svg>
				<h3 class="editable">Automated</h3>
				<p class="editable">Free software that automatically installs and updates print drivers and queues.</p>
			</div>
		</div>
    </div>
</div>


<!-- security description -->
<div class="section">
    <div class="section-content">
        <h2 class="section-heading animate fadein editable">Stay flexible and print safely</h2>
        <p class="lead animate fadein editable">Printix makes it easy, affordable and secure to print what you want, when you want and where you want.</p>

		<div class="row">
			<div class="col-sm-6">
				<h3 class="editable">Secure pull print</h3>
				<p class="editable">Print confidential documents safely from your smartphone, tablet or computer.</p>

				<h3 class="editable">Self service</h3>
				<p class="editable">An easy way for users to choose to print the way that best supports how they work and minimize frustration.</p>
			</div>
			<div class="col-sm-6">
				<object type="image/svg+xml" data="{{ site.baseurl }}/assets/images/illustrations/security.svg"></object>
			</div>
		</div>
	</div>
</div>

{% include sign-up.html %}