<footer role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<h4>Products</h4>
						<ul>
							<li><a href="{{ site.baseurl }}/zero/">Printix Zero</a></li>
							<li><a href="{{ site.baseurl }}/zero/changelog/">Change log</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h4>Other</h4>
						<ul>
							<li><a href="">Blog</a></li>
							<li><a href="">About us</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h4>Legal</h4>
						<ul>
							<li><a href="{{ site.baseurl }}/terms/">Terms of service</a></li>
							<li><a href="{{ site.baseurl }}/privacy/">Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<ul class="social-links">
					<li>
						<a href="#.#"><svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg></a>
					</li>
					<li>
						<a href="#.#"><svg class="icon icon-google-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use></svg></a>
					</li>
					<li>
						<a href="#.#"><svg class="icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg></a>
					</li>
					<li>
						<a href="#.#"><svg class="icon icon-linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-contact">
		<div class="container">
			<address>
		    	Printix.net ApS - Hoerkaer 20, 2730 Herlev, Denmark <span class="separator">|</span> +45 40 15 93 93  <span class="separator">|</span> © Printix.net 2015
			</address>
				  
		</div>
	</div>
</footer>
