<!-- sign up cta -->
<div class="section-sign-up-cta section section-gray section-compact animate fadein">
	<div class="section-content">
		<h3 class="section-heading-sm editable">
			{{ include.header }}
		</h3>
		{% if include.text %}
		<p class="lead-sm">
			{{ include.text }}
		</p>
		{% endif %}

		<form accept-charset="UTF-8" action="https://xr236.infusionsoft.com/app/form/process/85769165630c12769abd3540125bd5ac" class="infusion-form form form-inline" method="POST">
		    <input name="inf_form_xid" type="hidden" value="85769165630c12769abd3540125bd5ac">
		    <input name="inf_form_name" type="hidden" value="Sign up for newsletter">
		    <input name="infusionsoft_version" type="hidden" value="1.41.0.37">
		    <div class="form-group">
		        <input placeholder="Your email" class="infusion-field-input-container form-control" id="inf_field_Email" name="inf_field_Email" type="email" required>
		    </div>
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary">Sign up</button>
		    </div>
		</form>
	</div>
</div>