<!-- sign up cta -->
<div class="section-sign-up-cta section section-gray section-compact">
	<div class="section-content">
		<h3 class="section-heading-sm animate fadein editable">Ready to give it a try?</h3>
		<p class="lead-sm">Catch the Print Management Cloud Wave with the other visionaries.</p>

		<form class="form-inline text-center">
			<div class="form-group">
				<input type="email" class="form-control" id="inputEmail" placeholder="Your email">
			</div>
			<button type="submit" class="btn btn-primary">Sign up</button>
		</form>	
	</div>
</div>
